@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    min-height: 100vh;
    background-color: #fff1ed;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    height: 2px;
    background-color: #a9a9a9;
}

.app-content {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}